#####################################################################
# STATUS LED CONTROL
#####################################################################

[neopixel TH_LED]
pin: EBB36TH:PD3
chain_count: 3
color_order: GRBW

[delayed_gcode TH_LED_INIT]
initial_duration: 0.5
gcode:
    UPDATE_STATUS_LED
    SET_LED LED=TH_LED INDEX=1 RED=1 GREEN=1 BLUE=1
    SET_LED LED=TH_LED INDEX=2 RED=1 GREEN=1 BLUE=1

[gcode_macro UPDATE_STATUS_LED]
description: Update toolhead LED according to printer state
gcode:
    {% set state = printer.print_stats.state %}
    {% if state == "printing" %}
        SET_LED LED=TH_LED INDEX=3 RED=1 GREEN=0 BLUE=0
    {% elif state == "paused" %}
        SET_LED LED=TH_LED INDEX=3 RED=1 GREEN=1 BLUE=0
    {% elif state == "error" %}
        SET_LED LED=TH_LED INDEX=3 RED=0 GREEN=1 BLUE=0
    {% else %}
        SET_LED LED=TH_LED INDEX=3 RED=0 GREEN=0 BLUE=1
    {% endif %}

#####################################################################
# PRINT CONTROL MACROS
#####################################################################

[respond]

[gcode_macro START_PRINT]
description: Start print procedure including homing, mesh and purge
gcode:

    UPDATE_STATUS_LED

    {% set T = params.EXTRUDER|default(0)|float %}
    {% set B = params.BED|default(0)|float %}

    M84 E
    G90
    G92 E0

    {% if B > 0 %}
    M190 S{B}
    {% endif %}

    M104 S170

    G28
    Z_TILT_ADJUST

    BED_MESH_CALIBRATE METHOD=rapid_scan

    G0 X-15 Y-20 Z10 F6000

    {% if T > 0 %}
    M109 S{T}
    {% endif %}

    NOZZLE_WIPE

    G92 E0
    G1 X-3 Y40 Z10 F5000
    G1 X-3 Y40 Z0.3 F5000
    G1 X-3 Y130 Z0.3 F600 E15
    G1 X-2 Y130 Z0.3 F5000
    G1 X-2 Y40 Z0.3 F600 E30

    G92 E0
    G1 Z1.0 F3000

#####################################################################

[gcode_macro END_PRINT]
description: Safe print finish procedure
gcode:
    UPDATE_STATUS_LED
    G91
    G1 E-2 F500
    G1 E-2 Z0.2 F200
    G1 X5 Y5 F3000
    G1 Z1
    M106 S0
    M104 S0
    M140 S0
    G90
    G1 X10 Y250
    M84 X Y E
    RESPOND TYPE=echo MSG="Finish Print!"

#####################################################################

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
description: Cancel current print and park toolhead
gcode:

    SAVE_VARIABLE VARIABLE=was_interrupted VALUE=False
    RUN_SHELL_COMMAND CMD=clear_plr
    clear_last_file
    G31

    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE

    UPDATE_STATUS_LED

    RESPOND TYPE=echo MSG="Cancel Print Success!"

    G91
    G1 E-2 F500
    G1 E-2 Z0.2 F200
    G1 Z1

    M106 S0
    M104 S0
    M140 S0

    G90
    G1 X10 Y250 F6000
    M84 X Y E

#####################################################################

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
description: Pause print and move toolhead to safe location
gcode:

    RESPOND TYPE=echo MSG="Pause Print!"

    {% set x = params.X|default(10) %}
    {% set y = params.Y|default(250) %}
    {% set z = params.Z|default(10)|float %}
    {% set e = params.E|default(1) %}

    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}

    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}

    PAUSE_BASE
    UPDATE_STATUS_LED

    G91

    {% if printer.extruder.can_extrude|lower == 'true' %}
        G1 E-{e} F500
    {% endif %}

    {% if "xyz" in printer.toolhead.homed_axes %}
        G1 Z{z_safe}
        G90
        G1 X{x} Y{y} F6000
    {% endif %}

#####################################################################

[gcode_macro RESUME]
rename_existing: RESUME_BASE
description: Resume print after pause
gcode:

    {% if printer["filament_switch_sensor Filament"].filament_detected == True %}

        {% set e = params.E|default(1) %}

        G91

        {% if printer.extruder.can_extrude|lower == 'true' %}
            G1 E{e} F400
        {% endif %}

        RESUME_BASE

    {% else %}
        RESPOND TYPE=echo MSG="Please Insert filament in Sensor!"
    {% endif %}

    UPDATE_STATUS_LED

#####################################################################
# FILAMENT HANDLING
#####################################################################

[gcode_macro LOAD_FILAMENT]
description: Load filament into extruder
gcode:
    G91
    G1 E60 F300
    G1 E20 F150
    G90

[gcode_macro UNLOAD_FILAMENT]
description: Unload filament from extruder
gcode:
    G91
    G1 E-80 F300
    G90

#####################################################################
# NOZZLE CLEANING
#####################################################################

[gcode_macro NOZZLE_WIPE]
description: Wipe nozzle using silicone brush
gcode:

    G90

    G1 Z10 F1500
    G1 X-15 Y-20 F6000

    G1 Z5 F600

    G1 Y20 F3000
    G1 Y-20 F3000
    G1 Y20 F3000
    G1 Y-20 F3000
    G1 Y20 F3000

    G1 Z10 F1500